# SQLite база данных
*.sqlite3

# Виртуальные окружения Python
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]

# Логи
*.log

# Файлы IDE
.idea/
.vscode/

# Файлы ОС
.DS_Store
Thumbs.db

# Статические файлы, если их нужно генерировать отдельно
/static/

# Миграции, если они не нужны в репозитории
*/migrations/

# Секретные ключи и конфигурации (пример)
*.env
